USE [LocationDataDB]
GO
/****** Object:  Table [dbo].[ApiQuotaTracking]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiQuotaTracking](
	[QuotaId] [int] IDENTITY(1,1) NOT NULL,
	[TrackingDate] [date] NOT NULL,
	[ApiEndpoint] [nvarchar](100) NOT NULL,
	[CallCount] [int] NOT NULL,
	[DailyLimit] [int] NOT NULL,
	[SuccessfulCalls] [int] NOT NULL,
	[FailedCalls] [int] NOT NULL,
	[AverageResponseTime] [int] NULL,
	[FirstCallTime] [datetime2](7) NULL,
	[LastCallTime] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ApiQuotaTracking_DateEndpoint] UNIQUE NONCLUSTERED 
(
	[TrackingDate] ASC,
	[ApiEndpoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [nchar](2) NOT NULL,
	[PrimaryCountyId] [int] NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[CityType] [nvarchar](50) NULL,
	[IncorporationDate] [date] NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](11, 7) NULL,
	[Elevation] [int] NULL,
	[WikipediaUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cities_StateCityPrimaryCounty] UNIQUE NONCLUSTERED 
(
	[StateCode] ASC,
	[CityName] ASC,
	[PrimaryCountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityCounties]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityCounties](
	[CityCountyId] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[CountyId] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityCountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CityCounties_CityCounty] UNIQUE NONCLUSTERED 
(
	[CityId] ASC,
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Counties]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Counties](
	[CountyId] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [nchar](2) NOT NULL,
	[CountyName] [nvarchar](100) NOT NULL,
	[CountyFips] [nchar](5) NULL,
	[CountySeat] [nvarchar](100) NULL,
	[EstablishedYear] [int] NULL,
	[SquareMiles] [decimal](10, 2) NULL,
	[WikipediaUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Counties_StateCounty] UNIQUE NONCLUSTERED 
(
	[StateCode] ASC,
	[CountyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveScrapingJobs]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveScrapingJobs](
	[JobID] [uniqueidentifier] NOT NULL,
	[StateCode] [nchar](2) NOT NULL,
	[JobType] [varchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[SourceUrl] [nvarchar](500) NULL,
	[ResultsCount] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RawData] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationScanQueue]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationScanQueue](
	[ScanId] [int] IDENTITY(1,1) NOT NULL,
	[LocationType] [nvarchar](20) NOT NULL,
	[LocationId] [int] NOT NULL,
	[LocationName] [nvarchar](200) NOT NULL,
	[Priority] [int] NOT NULL,
	[ScanStatus] [nvarchar](20) NOT NULL,
	[ScheduledDate] [datetime2](7) NULL,
	[StartedDate] [datetime2](7) NULL,
	[CompletedDate] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RestaurantsFound] [int] NULL,
	[ApiCallsUsed] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PopulationData]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PopulationData](
	[PopulationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationType] [nvarchar](20) NOT NULL,
	[LocationId] [int] NOT NULL,
	[CensusYear] [int] NOT NULL,
	[Population] [int] NOT NULL,
	[EstimatedPopulation] [int] NULL,
	[Households] [int] NULL,
	[MedianIncome] [decimal](10, 2) NULL,
	[DataSource] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[BatchId] [varchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PopulationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PopulationData_LocationYear] UNIQUE NONCLUSTERED 
(
	[LocationType] ASC,
	[LocationId] ASC,
	[CensusYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionScrapingJobs]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionScrapingJobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [nchar](2) NOT NULL,
	[JobType] [nvarchar](20) NOT NULL,
	[TargetUrl] [nvarchar](500) NOT NULL,
	[JobStatus] [nvarchar](20) NOT NULL,
	[ScheduledAt] [datetime2](7) NOT NULL,
	[StartedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[RecordsExtracted] [int] NULL,
	[RecordsImported] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ProcessingTimeSeconds] [int] NULL,
	[CloudDestroyerJobId] [nvarchar](100) NULL,
	[BatchId] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionScrapingLog]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionScrapingLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NULL,
	[StateCode] [nchar](2) NULL,
	[LogLevel] [nvarchar](10) NOT NULL,
	[LogMessage] [nvarchar](max) NOT NULL,
	[AdditionalData] [nvarchar](max) NULL,
	[LoggedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScanHistory]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScanHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ScanId] [int] NOT NULL,
	[LocationType] [nvarchar](20) NOT NULL,
	[LocationId] [int] NOT NULL,
	[ScanDate] [datetime2](7) NOT NULL,
	[GooglePlacesQuery] [nvarchar](500) NOT NULL,
	[ResultsFound] [int] NOT NULL,
	[ApiCallsUsed] [int] NOT NULL,
	[ResponseTime] [int] NULL,
	[Success] [bit] NOT NULL,
	[ErrorCode] [nvarchar](50) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RawResponse] [nvarchar](max) NULL,
	[ProcessedData] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [nchar](2) NOT NULL,
	[StateName] [nvarchar](50) NOT NULL,
	[StateAbbreviation] [nchar](2) NOT NULL,
	[Region] [nvarchar](20) NULL,
	[TimeZone] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateWikipediaPages]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateWikipediaPages](
	[StateCode] [nchar](2) NOT NULL,
	[MunicipalitiesUrl] [nvarchar](500) NOT NULL,
	[CountiesUrl] [nvarchar](500) NULL,
	[LastScrapedAt] [datetime2](7) NULL,
	[NextScheduledScrape] [datetime2](7) NULL,
	[ScrapingFrequency] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[EstimatedMunicipalities] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NOT NULL,
	[LastSuccessfulScrape] [datetime2](7) NULL,
	[TotalScrapingAttempts] [int] NOT NULL,
	[SuccessfulScrapes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WikipediaPages]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WikipediaPages](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[PageTitle] [nvarchar](200) NOT NULL,
	[PageType] [nvarchar](100) NULL,
	[LastExtracted] [datetime2](7) NULL,
	[ContentHash] [nvarchar](64) NULL,
	[RawContent] [nvarchar](max) NULL,
	[ExtractedData] [nvarchar](max) NULL,
	[ItemsExtracted] [int] NOT NULL,
	[ExtractionSuccess] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUpdatedAt] [datetime2](7) NOT NULL,
	[DataSource] [nvarchar](100) NULL,
	[PreviousContentHash] [nvarchar](64) NULL,
	[ChangeDetected] [bit] NOT NULL,
	[LastChangeDetected] [datetime2](7) NULL,
	[ProcessingRequired] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_WikipediaPages_Url] UNIQUE NONCLUSTERED 
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zipcodes]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zipcodes](
	[ZipcodeId] [int] IDENTITY(1,1) NOT NULL,
	[StateCode] [nchar](2) NOT NULL,
	[ZipCode] [nchar](5) NOT NULL,
	[ZipCodeExtension] [nchar](4) NULL,
	[PrimaryCity] [nvarchar](100) NOT NULL,
	[AcceptableCities] [nvarchar](max) NULL,
	[County] [nvarchar](100) NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](11, 7) NULL,
	[TimeZone] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZipcodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Zipcodes_StateZip] UNIQUE NONCLUSTERED 
(
	[StateCode] ASC,
	[ZipCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT ((0)) FOR [CallCount]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT ((332)) FOR [DailyLimit]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT ((0)) FOR [SuccessfulCalls]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT ((0)) FOR [FailedCalls]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ApiQuotaTracking] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cities] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[CityCounties] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[CityCounties] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CityCounties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Counties] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Counties] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Counties] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Counties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Counties] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[LiveScrapingJobs] ADD  DEFAULT (newid()) FOR [JobID]
GO
ALTER TABLE [dbo].[LiveScrapingJobs] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[LiveScrapingJobs] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[LiveScrapingJobs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LocationScanQueue] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[LocationScanQueue] ADD  DEFAULT ('Pending') FOR [ScanStatus]
GO
ALTER TABLE [dbo].[LocationScanQueue] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LocationScanQueue] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LocationScanQueue] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[PopulationData] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PopulationData] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PopulationData] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[PopulationData] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionScrapingJobs] ADD  DEFAULT ('municipalities') FOR [JobType]
GO
ALTER TABLE [dbo].[ProductionScrapingJobs] ADD  DEFAULT ('pending') FOR [JobStatus]
GO
ALTER TABLE [dbo].[ProductionScrapingJobs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionScrapingJobs] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[ProductionScrapingLog] ADD  DEFAULT (getdate()) FOR [LoggedAt]
GO
ALTER TABLE [dbo].[ScanHistory] ADD  DEFAULT ((0)) FOR [ResultsFound]
GO
ALTER TABLE [dbo].[ScanHistory] ADD  DEFAULT ((0)) FOR [ApiCallsUsed]
GO
ALTER TABLE [dbo].[ScanHistory] ADD  DEFAULT ((0)) FOR [Success]
GO
ALTER TABLE [dbo].[ScanHistory] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[States] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[States] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[States] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT ('monthly') FOR [ScrapingFrequency]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT ((50)) FOR [Priority]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT ((0)) FOR [TotalScrapingAttempts]
GO
ALTER TABLE [dbo].[StateWikipediaPages] ADD  DEFAULT ((0)) FOR [SuccessfulScrapes]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT ((0)) FOR [ItemsExtracted]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT ((0)) FOR [ExtractionSuccess]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT (getutcdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT ((0)) FOR [ChangeDetected]
GO
ALTER TABLE [dbo].[WikipediaPages] ADD  DEFAULT ((1)) FOR [ProcessingRequired]
GO
ALTER TABLE [dbo].[Zipcodes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Zipcodes] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Zipcodes] ADD  DEFAULT (getutcdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_PrimaryCounty] FOREIGN KEY([PrimaryCountyId])
REFERENCES [dbo].[Counties] ([CountyId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_PrimaryCounty]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_States]
GO
ALTER TABLE [dbo].[CityCounties]  WITH CHECK ADD  CONSTRAINT [FK_CityCounties_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
ALTER TABLE [dbo].[CityCounties] CHECK CONSTRAINT [FK_CityCounties_Cities]
GO
ALTER TABLE [dbo].[CityCounties]  WITH CHECK ADD  CONSTRAINT [FK_CityCounties_Counties] FOREIGN KEY([CountyId])
REFERENCES [dbo].[Counties] ([CountyId])
GO
ALTER TABLE [dbo].[CityCounties] CHECK CONSTRAINT [FK_CityCounties_Counties]
GO
ALTER TABLE [dbo].[Counties]  WITH CHECK ADD  CONSTRAINT [FK_Counties_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Counties] CHECK CONSTRAINT [FK_Counties_States]
GO
ALTER TABLE [dbo].[LiveScrapingJobs]  WITH CHECK ADD  CONSTRAINT [FK_LiveScrapingJobs_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[LiveScrapingJobs] CHECK CONSTRAINT [FK_LiveScrapingJobs_States]
GO
ALTER TABLE [dbo].[ProductionScrapingJobs]  WITH CHECK ADD  CONSTRAINT [FK_ProductionScrapingJobs_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[ProductionScrapingJobs] CHECK CONSTRAINT [FK_ProductionScrapingJobs_States]
GO
ALTER TABLE [dbo].[ProductionScrapingLog]  WITH CHECK ADD  CONSTRAINT [FK_ProductionScrapingLog_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[ProductionScrapingJobs] ([JobId])
GO
ALTER TABLE [dbo].[ProductionScrapingLog] CHECK CONSTRAINT [FK_ProductionScrapingLog_Jobs]
GO
ALTER TABLE [dbo].[ScanHistory]  WITH CHECK ADD  CONSTRAINT [FK_ScanHistory_LocationScanQueue] FOREIGN KEY([ScanId])
REFERENCES [dbo].[LocationScanQueue] ([ScanId])
GO
ALTER TABLE [dbo].[ScanHistory] CHECK CONSTRAINT [FK_ScanHistory_LocationScanQueue]
GO
ALTER TABLE [dbo].[StateWikipediaPages]  WITH CHECK ADD  CONSTRAINT [FK_StateWikipediaPages_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[StateWikipediaPages] CHECK CONSTRAINT [FK_StateWikipediaPages_States]
GO
ALTER TABLE [dbo].[Zipcodes]  WITH CHECK ADD  CONSTRAINT [FK_Zipcodes_States] FOREIGN KEY([StateCode])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Zipcodes] CHECK CONSTRAINT [FK_Zipcodes_States]
GO
ALTER TABLE [dbo].[LocationScanQueue]  WITH CHECK ADD  CONSTRAINT [CK_LocationScanQueue_LocationType] CHECK  (([LocationType]='Zipcode' OR [LocationType]='County' OR [LocationType]='City'))
GO
ALTER TABLE [dbo].[LocationScanQueue] CHECK CONSTRAINT [CK_LocationScanQueue_LocationType]
GO
ALTER TABLE [dbo].[LocationScanQueue]  WITH CHECK ADD  CONSTRAINT [CK_LocationScanQueue_ScanStatus] CHECK  (([ScanStatus]='Skipped' OR [ScanStatus]='Failed' OR [ScanStatus]='Completed' OR [ScanStatus]='InProgress' OR [ScanStatus]='Pending'))
GO
ALTER TABLE [dbo].[LocationScanQueue] CHECK CONSTRAINT [CK_LocationScanQueue_ScanStatus]
GO
ALTER TABLE [dbo].[PopulationData]  WITH CHECK ADD  CONSTRAINT [CK_PopulationData_LocationType] CHECK  (([LocationType]='Zipcode' OR [LocationType]='County' OR [LocationType]='City'))
GO
ALTER TABLE [dbo].[PopulationData] CHECK CONSTRAINT [CK_PopulationData_LocationType]
GO
ALTER TABLE [dbo].[StateWikipediaPages]  WITH CHECK ADD  CONSTRAINT [CK_StateWikipediaPages_EstimatedMunicipalities] CHECK  (([EstimatedMunicipalities] IS NULL OR [EstimatedMunicipalities]>(0)))
GO
ALTER TABLE [dbo].[StateWikipediaPages] CHECK CONSTRAINT [CK_StateWikipediaPages_EstimatedMunicipalities]
GO
ALTER TABLE [dbo].[StateWikipediaPages]  WITH CHECK ADD  CONSTRAINT [CK_StateWikipediaPages_Priority] CHECK  (([Priority]>=(1) AND [Priority]<=(100)))
GO
ALTER TABLE [dbo].[StateWikipediaPages] CHECK CONSTRAINT [CK_StateWikipediaPages_Priority]
GO
ALTER TABLE [dbo].[StateWikipediaPages]  WITH CHECK ADD  CONSTRAINT [CK_StateWikipediaPages_ScrapingFrequency] CHECK  (([ScrapingFrequency]='manually' OR [ScrapingFrequency]='quarterly' OR [ScrapingFrequency]='monthly' OR [ScrapingFrequency]='weekly' OR [ScrapingFrequency]='daily'))
GO
ALTER TABLE [dbo].[StateWikipediaPages] CHECK CONSTRAINT [CK_StateWikipediaPages_ScrapingFrequency]
GO
/****** Object:  StoredProcedure [dbo].[uspDemo_GenerateTexasScrapingData]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- 4. TEXAS DEMO DATA GENERATOR
-- =============================================

-- Generate realistic Texas Wikipedia scrape data for demo
CREATE   PROCEDURE [dbo].[uspDemo_GenerateTexasScrapingData]
    @OutputData NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Generate realistic Texas municipality data
    SET @OutputData = N'{
        "scraping_info": {
            "timestamp": "' + CONVERT(VARCHAR, GETDATE(), 127) + '",
            "source_url": "https://en.wikipedia.org/wiki/List_of_municipalities_in_Texas",
            "scraper": "CloudDestroyer v2.0",
            "state": "TX"
        },
        "counties": [
            {"name": "Harris County", "seat": "Houston", "population": 4731145, "area_sq_miles": 1703},
            {"name": "Dallas County", "seat": "Dallas", "population": 2613539, "area_sq_miles": 908},
            {"name": "Tarrant County", "seat": "Fort Worth", "population": 2110640, "area_sq_miles": 897},
            {"name": "Bexar County", "seat": "San Antonio", "population": 2009324, "area_sq_miles": 1247},
            {"name": "Travis County", "seat": "Austin", "population": 1290188, "area_sq_miles": 1023},
            {"name": "Collin County", "seat": "McKinney", "population": 1056924, "area_sq_miles": 848},
            {"name": "Hidalgo County", "seat": "Edinburg", "population": 868707, "area_sq_miles": 1583},
            {"name": "Fort Bend County", "seat": "Richmond", "population": 822779, "area_sq_miles": 875}
        ],
        "cities": [
            {"name": "Houston", "county": "Harris", "population": 2304580, "incorporated": 1837, "type": "city"},
            {"name": "San Antonio", "county": "Bexar", "population": 1547253, "incorporated": 1837, "type": "city"},
            {"name": "Dallas", "county": "Dallas", "population": 1304379, "incorporated": 1856, "type": "city"},
            {"name": "Austin", "county": "Travis", "population": 978908, "incorporated": 1839, "type": "city"},
            {"name": "Fort Worth", "county": "Tarrant", "population": 918915, "incorporated": 1873, "type": "city"},
            {"name": "El Paso", "county": "El Paso", "population": 695044, "incorporated": 1873, "type": "city"},
            {"name": "Arlington", "county": "Tarrant", "population": 394266, "incorporated": 1884, "type": "city"},
            {"name": "Corpus Christi", "county": "Nueces", "population": 326586, "incorporated": 1852, "type": "city"},
            {"name": "Plano", "county": "Collin", "population": 285494, "incorporated": 1873, "type": "city"},
            {"name": "Lubbock", "county": "Lubbock", "population": 263930, "incorporated": 1909, "type": "city"}
        ],
        "statistics": {
            "total_counties": 8,
            "total_cities": 10,
            "total_population": 12500000,
            "scraping_duration_ms": 4500
        }
    }';
    
    PRINT 'ðŸ“‹ Generated realistic Texas scraping data for demo';
END
GO
/****** Object:  StoredProcedure [dbo].[uspDemo_GetLiveProcessingStatus]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- 3. REAL-TIME MONITORING DASHBOARD PROCEDURES
-- =============================================

-- Live processing status dashboard
CREATE   PROCEDURE [dbo].[uspDemo_GetLiveProcessingStatus]
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT 'ðŸ“Š LIVE PROCESSING STATUS DASHBOARD';
    PRINT '===================================';
    
    -- Current active jobs
    PRINT 'Active Jobs:';
    SELECT 
        JobID,
        StateCode,
        JobType,
        Status,
        StartTime,
        DATEDIFF(SECOND, StartTime, GETDATE()) as ElapsedSeconds,
        ResultsCount,
        SourceUrl
    FROM LiveScrapingJobs 
    WHERE Status IN ('pending', 'running')
    ORDER BY StartTime DESC;
    
    -- Recent completed jobs (last 10)
    PRINT '';
    PRINT 'Recent Completed Jobs:';
    SELECT TOP 10
        StateCode,
        JobType,
        Status,
        StartTime,
        Duration as DurationMS,
        ResultsCount,
        CASE WHEN ErrorMessage IS NOT NULL THEN 'ERROR: ' + LEFT(ErrorMessage, 50) ELSE 'Success' END as Result
    FROM LiveScrapingJobs 
    WHERE Status IN ('completed', 'failed')
    ORDER BY StartTime DESC;
    
    -- Processing statistics
    PRINT '';
    PRINT 'Processing Statistics (Last 24 Hours):';
    SELECT 
        COUNT(*) as TotalJobs,
        COUNT(CASE WHEN Status = 'completed' THEN 1 END) as Completed,
        COUNT(CASE WHEN Status = 'failed' THEN 1 END) as Failed,
        COUNT(CASE WHEN Status IN ('pending', 'running') THEN 1 END) as Active,
        AVG(CASE WHEN Duration IS NOT NULL THEN Duration END) as AvgDurationMS,
        SUM(ISNULL(ResultsCount, 0)) as TotalRecordsProcessed
    FROM LiveScrapingJobs 
    WHERE StartTime >= DATEADD(HOUR, -24, GETDATE());
    
    -- Recent events
    PRINT '';
    PRINT 'Recent Processing Events:';
    SELECT TOP 20
        pe.Timestamp,
        lsj.StateCode,
        pe.EventType,
        pe.EventMessage
    FROM ProcessingEvents pe
    INNER JOIN LiveScrapingJobs lsj ON pe.JobID = lsj.JobID
    ORDER BY pe.Timestamp DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[uspDemo_RunRealTimeProcessingDemo]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- 5. DEMO EXECUTION PROCEDURE
-- =============================================

CREATE   PROCEDURE [dbo].[uspDemo_RunRealTimeProcessingDemo]
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT 'ðŸŽª STARTING REAL-TIME PROCESSING DEMO';
    PRINT '====================================';
    PRINT '';
    
    -- Clear previous demo data
    DELETE FROM ProcessingEvents WHERE JobID IN (
        SELECT JobID FROM LiveScrapingJobs WHERE JobType LIKE '%demo%'
    );
    DELETE FROM LiveScrapingJobs WHERE JobType LIKE '%demo%';
    
    PRINT 'ðŸ§¹ Cleared previous demo data';
    PRINT '';
    
    -- Generate demo scraping data
    DECLARE @TexasData NVARCHAR(MAX);
    EXEC uspDemo_GenerateTexasScrapingData @TexasData OUTPUT;
    
    PRINT 'ðŸ“¡ Simulating CloudDestroyer webhook for Texas...';
    PRINT '';
    
    -- Simulate real-time webhook processing
    EXEC uspDemo_SimulateCloudDestroyerWebhook 
        @StateCode = 'TX',
        @ScrapedData = @TexasData,
        @SourceUrl = 'https://en.wikipedia.org/wiki/List_of_municipalities_in_Texas';
    
    PRINT '';
    PRINT 'ðŸ“Š Showing live processing results...';
    EXEC uspDemo_GetLiveProcessingStatus;
    
    PRINT '';
    PRINT 'ðŸŽ¯ REAL-TIME PROCESSING DEMO COMPLETED!';
    PRINT '';
    PRINT 'Next steps:';
    PRINT '1. Check imported data: SELECT TOP 10 * FROM Counties WHERE StateCode = ''TX'' ORDER BY CreatedAt DESC';
    PRINT '2. Monitor live jobs: EXEC uspDemo_GetLiveProcessingStatus';
    PRINT '3. Run more states: EXEC uspDemo_SimulateCloudDestroyerWebhook @StateCode = ''CA'', @ScrapedData = ''...''';
END
GO
/****** Object:  StoredProcedure [dbo].[uspDemo_SimulateCloudDestroyerWebhook]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Fix the BatchId issue
CREATE   PROCEDURE [dbo].[uspDemo_SimulateCloudDestroyerWebhook]
    @StateCode NCHAR(2),
    @ScrapedData NVARCHAR(MAX),
    @SourceUrl NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @JobID UNIQUEIDENTIFIER = NEWID();
    DECLARE @StartTime DATETIME2 = GETDATE();
    
    BEGIN TRY
        -- 1. Log incoming webhook
        INSERT INTO LiveScrapingJobs (JobID, StateCode, JobType, Status, StartTime, SourceUrl, RawData)
        VALUES (@JobID, @StateCode, 'webhook_received', 'running', @StartTime, @SourceUrl, @ScrapedData);
        
        PRINT ' Webhook received for ' + @StateCode + ' at ' + CONVERT(VARCHAR, @StartTime, 120);
        
        -- 2. Validate incoming data
        IF ISJSON(@ScrapedData) = 1
        BEGIN
            PRINT ' JSON data validation passed';
        END
        ELSE
        BEGIN
            PRINT ' JSON validation failed';
            UPDATE LiveScrapingJobs SET Status = 'failed' WHERE JobID = @JobID;
            RETURN;
        END
        
        -- 3. Parse and process data using universal procedures
        DECLARE @BatchId VARCHAR(100) = 'DEMO_' + CAST(@JobID AS VARCHAR(36));
        DECLARE @DataSource NVARCHAR(200) = 'CloudDestroyer Demo';
        DECLARE @CountiesProcessed INT = 0;
        
        -- Process counties if present
        IF JSON_QUERY(@ScrapedData, '$.counties') IS NOT NULL
        BEGIN
            -- Call the procedure with correct parameters
            EXEC uspLocationData_ProcessCountiesFromJSON 
                @StateCode = @StateCode, 
                @CountiesJson = @ScrapedData, 
                @BatchId = @BatchId,
                @DataSource = @DataSource;
            
            -- Count how many were actually processed
            SELECT @CountiesProcessed = COUNT(*)
            FROM Counties 
            WHERE StateCode = @StateCode 
              AND CreatedAt >= @StartTime;
            
            PRINT ' Processed ' + CAST(@CountiesProcessed AS VARCHAR) + ' counties';
        END
        
        -- 4. Complete the job
        UPDATE LiveScrapingJobs 
        SET Status = 'completed', 
            EndTime = GETDATE(),
            ResultsCount = @CountiesProcessed
        WHERE JobID = @JobID;
        
        PRINT ' Real-time processing completed! Total processed: ' + CAST(@CountiesProcessed AS VARCHAR);
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        UPDATE LiveScrapingJobs SET Status = 'failed', EndTime = GETDATE(), ErrorMessage = @ErrorMsg WHERE JobID = @JobID;
        PRINT ' Error: ' + @ErrorMsg;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[uspLocationData_ImportStateWikipediaData]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================================================
-- STORED PROCEDURE: Main Orchestrator for State Wikipedia Data Import
-- Coordinates the entire import process for a state
-- =============================================================================

CREATE   PROCEDURE [dbo].[uspLocationData_ImportStateWikipediaData]
    @StateCode NCHAR(2),
    @WikipediaUrl NVARCHAR(500) = NULL,
    @ProcessInRealTime BIT = 1,
    @ForceUpdate BIT = 0,
    @BatchId VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @StartTime DATETIME2 = GETDATE();
    DECLARE @WikipediaPageId INT;
    DECLARE @JobId INT;
    
    BEGIN TRY
        -- Generate batch ID if not provided
        IF @BatchId IS NULL
            SET @BatchId = 'STATE_' + @StateCode + '_' + FORMAT(GETDATE(), 'yyyyMMdd_HHmmss');
        
        PRINT '=== UNIVERSAL STATE IMPORT STARTED ===';
        PRINT 'State: ' + @StateCode;
        PRINT 'Batch ID: ' + @BatchId;
        PRINT 'Real-time processing: ' + CASE WHEN @ProcessInRealTime = 1 THEN 'Enabled' ELSE 'Disabled' END;
        PRINT '';
        
        -- Validate state exists
        IF NOT EXISTS (SELECT 1 FROM States WHERE StateCode = @StateCode)
        BEGIN
            RAISERROR('StateCode %s does not exist in States table.', 16, 1, @StateCode);
            RETURN -1;
        END
        
        -- Get or determine Wikipedia URL from configuration
        IF @WikipediaUrl IS NULL
        BEGIN
            SELECT @WikipediaUrl = MunicipalitiesUrl 
            FROM StateWikipediaPages 
            WHERE StateCode = @StateCode;
            
            IF @WikipediaUrl IS NULL
            BEGIN
                -- Construct default Wikipedia URL
                DECLARE @StateName NVARCHAR(100) = (SELECT StateName FROM States WHERE StateCode = @StateCode);
                SET @WikipediaUrl = 'https://en.wikipedia.org/wiki/List_of_municipalities_in_' + REPLACE(@StateName, ' ', '_');
                PRINT 'Using default Wikipedia URL: ' + @WikipediaUrl;
            END
        END
        
        -- Check if page already exists and needs update
        SELECT @WikipediaPageId = PageId 
        FROM WikipediaPages 
        WHERE Url = @WikipediaUrl;
        
        IF @WikipediaPageId IS NOT NULL AND @ForceUpdate = 0
        BEGIN
            PRINT 'Wikipedia page already tracked. Use @ForceUpdate = 1 to force refresh.';
            PRINT 'Existing PageId: ' + CAST(@WikipediaPageId AS NVARCHAR(10));
            -- Could check LastExtracted date and skip if recent
        END
        
        -- Insert or update Wikipedia page tracking
        IF @WikipediaPageId IS NULL
        BEGIN
            INSERT INTO WikipediaPages (Url, PageTitle, PageType, DataSource, CreatedAt, LastExtracted)
            VALUES (@WikipediaUrl, 'Municipalities in ' + @StateCode, 'municipalities', 'Universal Import', GETDATE(), NULL);
            
            SET @WikipediaPageId = SCOPE_IDENTITY();
            PRINT 'Created new WikipediaPages entry with ID: ' + CAST(@WikipediaPageId AS NVARCHAR(10));
        END
        ELSE
        BEGIN
            UPDATE WikipediaPages 
            SET LastExtracted = NULL, -- Reset to trigger new extraction
                LastUpdatedAt = GETDATE()
            WHERE PageId = @WikipediaPageId;
            
            PRINT 'Updated existing WikipediaPages entry ID: ' + CAST(@WikipediaPageId AS NVARCHAR(10));
        END
        
        -- If real-time processing is enabled, create CloudDestroyer job
        IF @ProcessInRealTime = 1
        BEGIN
            PRINT 'Creating CloudDestroyer scraping job...';
            
            -- This would integrate with CloudDestroyer to create a scraping job
            -- For now, we'll simulate the job creation and assume data is available
            
            PRINT 'CloudDestroyer job created successfully.';
            PRINT 'Note: In production, this would trigger actual Wikipedia scraping.';
            PRINT 'For demonstration, use the manual JSON processing procedures.';
        END
        
        -- Update state configuration if needed
        IF NOT EXISTS (SELECT 1 FROM StateWikipediaPages WHERE StateCode = @StateCode)
        BEGIN
            INSERT INTO StateWikipediaPages (StateCode, MunicipalitiesUrl, LastScrapedAt, NextScheduledScrape)
            VALUES (@StateCode, @WikipediaUrl, NULL, DATEADD(MONTH, 1, GETDATE()));
            
            PRINT 'Added state to Wikipedia configuration.';
        END
        
        DECLARE @Duration INT = DATEDIFF(MILLISECOND, @StartTime, GETDATE());
        PRINT '';
        PRINT '=== UNIVERSAL STATE IMPORT SETUP COMPLETED ===';
        PRINT 'Processing time: ' + CAST(@Duration AS NVARCHAR(10)) + 'ms';
        PRINT 'Next step: Call uspLocationData_ProcessCountiesFromJSON and uspLocationData_ProcessCitiesFromJSON';
        PRINT 'with extracted JSON data from CloudDestroyer.';
        
        RETURN @WikipediaPageId;
        
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        
        PRINT 'ERROR in uspLocationData_ImportStateWikipediaData:';
        PRINT @ErrorMessage;
        
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[uspLocationData_ProcessCitiesFromJSON]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================================================
-- STORED PROCEDURE: Process Cities from JSON with Multi-County Support
-- Handles complex multi-county relationships dynamically
-- =============================================================================

CREATE   PROCEDURE [dbo].[uspLocationData_ProcessCitiesFromJSON]
    @StateCode NCHAR(2),
    @MunicipalitiesJson NVARCHAR(MAX),
    @BatchId VARCHAR(100) = NULL,
    @DataSource NVARCHAR(100) = 'Wikipedia'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ProcessedCities INT = 0;
    DECLARE @ProcessedRelationships INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @StartTime DATETIME2 = GETDATE();
    
    BEGIN TRY
        -- Validate inputs
        IF @StateCode IS NULL OR LEN(@StateCode) != 2
        BEGIN
            RAISERROR('Invalid StateCode. Must be 2-character state abbreviation.', 16, 1);
            RETURN -1;
        END
        
        IF @MunicipalitiesJson IS NULL OR LEN(@MunicipalitiesJson) < 10
        BEGIN
            RAISERROR('Invalid MunicipalitiesJson. Must contain valid JSON data.', 16, 1);
            RETURN -1;
        END
        
        -- Validate JSON structure
        IF NOT ISJSON(@MunicipalitiesJson) = 1
        BEGIN
            RAISERROR('MunicipalitiesJson parameter is not valid JSON.', 16, 1);
            RETURN -1;
        END
        
        -- Validate state exists
        IF NOT EXISTS (SELECT 1 FROM States WHERE StateCode = @StateCode)
        BEGIN
            RAISERROR('StateCode %s does not exist in States table.', 16, 1, @StateCode);
            RETURN -1;
        END
        
        PRINT 'Processing municipalities for state: ' + @StateCode;
        PRINT 'Batch ID: ' + ISNULL(@BatchId, 'Not specified');
        
        -- Create temp tables for processing
        CREATE TABLE #CitiesTemp (
            CityName NVARCHAR(100) NOT NULL,
            CityType NVARCHAR(50) NULL,
            PrimaryCounty NVARCHAR(100) NOT NULL,
            AllCounties NVARCHAR(MAX) NULL, -- JSON array of all counties
            Latitude DECIMAL(10, 8) NULL,
            Longitude DECIMAL(11, 8) NULL,
            Population INT NULL,
            CityRank INT NULL
        );
        
        CREATE TABLE #CityCountiesTemp (
            CityName NVARCHAR(100) NOT NULL,
            CountyName NVARCHAR(100) NOT NULL,
            IsPrimary BIT NOT NULL
        );
        
        -- Parse JSON and insert into temp table
        -- Expected JSON format: {"municipalities": [{"name": "Houston", "type": "City", "primary_county": "Harris", "all_counties": ["Harris"], "population": 2390125, ...}, ...]}
        INSERT INTO #CitiesTemp (CityName, CityType, PrimaryCounty, AllCounties, Latitude, Longitude, Population, CityRank)
        SELECT 
            JSON_VALUE(value, '$.name') AS CityName,
            ISNULL(JSON_VALUE(value, '$.type'), 'City') AS CityType,
            JSON_VALUE(value, '$.primary_county') AS PrimaryCounty,
            JSON_QUERY(value, '$.all_counties') AS AllCounties,
            CAST(JSON_VALUE(value, '$.latitude') AS DECIMAL(10, 8)) AS Latitude,
            CAST(JSON_VALUE(value, '$.longitude') AS DECIMAL(11, 8)) AS Longitude,
            CAST(JSON_VALUE(value, '$.population') AS INT) AS Population,
            CAST(JSON_VALUE(value, '$.rank') AS INT) AS CityRank
        FROM OPENJSON(@MunicipalitiesJson, '$.municipalities');
        
        -- Validate parsed data
        IF EXISTS (
            SELECT 1 FROM #CitiesTemp 
            WHERE CityName IS NULL 
            OR LEN(TRIM(CityName)) < 1
            OR PrimaryCounty IS NULL
        )
        BEGIN
            RAISERROR('Invalid city data detected. City names and primary counties cannot be null.', 16, 1);
            RETURN -1;
        END
        
        -- Parse all county relationships for each city
        INSERT INTO #CityCountiesTemp (CityName, CountyName, IsPrimary)
        SELECT DISTINCT
            ct.CityName,
            JSON_VALUE(counties.value, '$') AS CountyName,
            CASE 
                WHEN JSON_VALUE(counties.value, '$') = ct.PrimaryCounty THEN 1 
                ELSE 0 
            END AS IsPrimary
        FROM #CitiesTemp ct
        CROSS APPLY OPENJSON(ISNULL(ct.AllCounties, '["' + ct.PrimaryCounty + '"]')) counties
        WHERE JSON_VALUE(counties.value, '$') IS NOT NULL;
        
        -- If no multi-county data, use primary county only
        INSERT INTO #CityCountiesTemp (CityName, CountyName, IsPrimary)
        SELECT ct.CityName, ct.PrimaryCounty, 1
        FROM #CitiesTemp ct
        WHERE ct.CityName NOT IN (SELECT CityName FROM #CityCountiesTemp);
        
        -- Insert/Update cities using MERGE
        MERGE Cities AS target
        USING (
            SELECT 
                @StateCode AS StateCode,
                co.CountyId AS PrimaryCountyId,
                ct.CityName,
                ct.CityType,
                ct.Latitude,
                ct.Longitude,
                1 AS IsActive
            FROM #CitiesTemp ct
            INNER JOIN Counties co ON co.CountyName = ct.PrimaryCounty AND co.StateCode = @StateCode
        ) AS source ON (
            target.StateCode = source.StateCode 
            AND target.CityName = source.CityName
        )
        WHEN MATCHED THEN
            UPDATE SET 
                PrimaryCountyId = source.PrimaryCountyId,
                CityType = ISNULL(source.CityType, target.CityType),
                Latitude = ISNULL(source.Latitude, target.Latitude),
                Longitude = ISNULL(source.Longitude, target.Longitude),
                IsActive = 1,
                LastUpdatedAt = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (StateCode, PrimaryCountyId, CityName, CityType, Latitude, Longitude, IsActive, CreatedAt, LastUpdatedAt)
            VALUES (source.StateCode, source.PrimaryCountyId, source.CityName, source.CityType, 
                   source.Latitude, source.Longitude, source.IsActive, GETDATE(), GETDATE());
        
        SET @ProcessedCities = @@ROWCOUNT;
        
        -- Clear existing city-county relationships for updated cities
        DELETE cc
        FROM CityCounties cc
        INNER JOIN Cities c ON cc.CityId = c.CityId
        WHERE c.StateCode = @StateCode 
          AND c.CityName IN (SELECT CityName FROM #CitiesTemp);
        
        -- Insert city-county relationships
        INSERT INTO CityCounties (CityId, CountyId, IsPrimary, CreatedAt)
        SELECT DISTINCT
            c.CityId,
            co.CountyId,
            cct.IsPrimary,
            GETDATE()
        FROM #CityCountiesTemp cct
        INNER JOIN Cities c ON c.CityName = cct.CityName AND c.StateCode = @StateCode
        INNER JOIN Counties co ON co.CountyName = cct.CountyName AND co.StateCode = @StateCode;
        
        SET @ProcessedRelationships = @@ROWCOUNT;
        
        -- Insert population data if available
        INSERT INTO PopulationData (LocationType, LocationId, CensusYear, Population, DataSource, BatchId, CreatedAt)
        SELECT 
            'City' AS LocationType,
            c.CityId,
            YEAR(GETDATE()) AS CensusYear,
            ct.Population,
            @DataSource,
            @BatchId,
            GETDATE()
        FROM Cities c
        INNER JOIN #CitiesTemp ct ON c.CityName = ct.CityName
        WHERE c.StateCode = @StateCode 
          AND ct.Population IS NOT NULL 
          AND ct.Population > 0
          AND NOT EXISTS (
              SELECT 1 FROM PopulationData pd 
              WHERE pd.LocationType = 'City' 
                AND pd.LocationId = c.CityId 
                AND pd.CensusYear = YEAR(GETDATE())
          );
        
        DECLARE @PopulationRecords INT = @@ROWCOUNT;
        
        -- Cleanup
        DROP TABLE #CitiesTemp;
        DROP TABLE #CityCountiesTemp;
        
        -- Success summary
        DECLARE @Duration INT = DATEDIFF(MILLISECOND, @StartTime, GETDATE());
        PRINT 'Cities processing completed successfully:';
        PRINT '  - Cities processed: ' + CAST(@ProcessedCities AS NVARCHAR(10));
        PRINT '  - County relationships: ' + CAST(@ProcessedRelationships AS NVARCHAR(10));
        PRINT '  - Population records added: ' + CAST(@PopulationRecords AS NVARCHAR(10));
        PRINT '  - Processing time: ' + CAST(@Duration AS NVARCHAR(10)) + 'ms';
        
        RETURN @ProcessedCities;
        
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        
        -- Cleanup on error
        IF OBJECT_ID('tempdb..#CitiesTemp') IS NOT NULL
            DROP TABLE #CitiesTemp;
        IF OBJECT_ID('tempdb..#CityCountiesTemp') IS NOT NULL
            DROP TABLE #CityCountiesTemp;
        
        PRINT 'ERROR in uspLocationData_ProcessCitiesFromJSON:';
        PRINT @ErrorMessage;
        
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[uspLocationData_ProcessCountiesFromJSON]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================================================
-- STORED PROCEDURE: Process Counties from JSON
-- Replaces hard-coded county INSERT statements with dynamic JSON processing
-- =============================================================================

CREATE   PROCEDURE [dbo].[uspLocationData_ProcessCountiesFromJSON]
    @StateCode NCHAR(2),
    @CountiesJson NVARCHAR(MAX),
    @BatchId VARCHAR(100) = NULL,
    @DataSource NVARCHAR(100) = 'Wikipedia'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ProcessedCount INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @StartTime DATETIME2 = GETDATE();
    
    BEGIN TRY
        -- Validate inputs
        IF @StateCode IS NULL OR LEN(@StateCode) != 2
        BEGIN
            RAISERROR('Invalid StateCode. Must be 2-character state abbreviation.', 16, 1);
            RETURN -1;
        END
        
        IF @CountiesJson IS NULL OR LEN(@CountiesJson) < 10
        BEGIN
            RAISERROR('Invalid CountiesJson. Must contain valid JSON data.', 16, 1);
            RETURN -1;
        END
        
        -- Validate JSON structure
        IF NOT ISJSON(@CountiesJson) = 1
        BEGIN
            RAISERROR('CountiesJson parameter is not valid JSON.', 16, 1);
            RETURN -1;
        END
        
        -- Validate state exists
        IF NOT EXISTS (SELECT 1 FROM States WHERE StateCode = @StateCode)
        BEGIN
            RAISERROR('StateCode %s does not exist in States table.', 16, 1, @StateCode);
            RETURN -1;
        END
        
        PRINT 'Processing counties for state: ' + @StateCode;
        PRINT 'Batch ID: ' + ISNULL(@BatchId, 'Not specified');
        
        -- Create temp table for JSON processing
        CREATE TABLE #CountiesTemp (
            CountyName NVARCHAR(100) NOT NULL,
            CountyFips NVARCHAR(5) NULL,
            CountySeat NVARCHAR(100) NULL,
            EstablishedYear INT NULL,
            SquareMiles DECIMAL(10,2) NULL,
            Population INT NULL
        );
        
        -- Parse JSON and insert into temp table
        -- Expected JSON format: {"counties": [{"name": "Harris", "seat": "Houston", "fips": "48201", ...}, ...]}
        INSERT INTO #CountiesTemp (CountyName, CountyFips, CountySeat, EstablishedYear, SquareMiles, Population)
        SELECT 
            JSON_VALUE(value, '$.name') AS CountyName,
            JSON_VALUE(value, '$.fips') AS CountyFips,
            JSON_VALUE(value, '$.seat') AS CountySeat,
            CAST(JSON_VALUE(value, '$.established') AS INT) AS EstablishedYear,
            CAST(JSON_VALUE(value, '$.area_sq_miles') AS DECIMAL(10,2)) AS SquareMiles,
            CAST(JSON_VALUE(value, '$.population') AS INT) AS Population
        FROM OPENJSON(@CountiesJson, '$.counties');
        
        -- Validate parsed data
        IF EXISTS (
            SELECT 1 FROM #CountiesTemp 
            WHERE CountyName IS NULL 
            OR LEN(TRIM(CountyName)) < 2
        )
        BEGIN
            RAISERROR('Invalid county data detected. County names cannot be null or empty.', 16, 1);
            RETURN -1;
        END
        
        -- Insert/Update counties using MERGE for upsert functionality
        MERGE Counties AS target
        USING (
            SELECT 
                @StateCode AS StateCode,
                t.CountyName,
                t.CountyFips,
                t.CountySeat,
                t.EstablishedYear,
                t.SquareMiles,
                1 AS IsActive,
                @DataSource AS DataSource,
                @BatchId AS BatchId
            FROM #CountiesTemp t
        ) AS source ON (
            target.StateCode = source.StateCode 
            AND target.CountyName = source.CountyName
        )
        WHEN MATCHED THEN
            UPDATE SET 
                CountyFips = ISNULL(source.CountyFips, target.CountyFips),
                CountySeat = ISNULL(source.CountySeat, target.CountySeat),
                EstablishedYear = ISNULL(source.EstablishedYear, target.EstablishedYear),
                SquareMiles = ISNULL(source.SquareMiles, target.SquareMiles),
                IsActive = 1,
                LastUpdatedAt = GETDATE()
        WHEN NOT MATCHED THEN
            INSERT (StateCode, CountyName, CountyFips, CountySeat, EstablishedYear, SquareMiles, IsActive, CreatedAt, LastUpdatedAt)
            VALUES (source.StateCode, source.CountyName, source.CountyFips, source.CountySeat, 
                   source.EstablishedYear, source.SquareMiles, source.IsActive, GETDATE(), GETDATE());
        
        SET @ProcessedCount = @@ROWCOUNT;
        
        -- Insert population data if available
        INSERT INTO PopulationData (LocationType, LocationId, CensusYear, Population, DataSource, BatchId, CreatedAt)
        SELECT 
            'County' AS LocationType,
            c.CountyId,
            YEAR(GETDATE()) AS CensusYear, -- Use current year as estimate
            t.Population,
            @DataSource,
            @BatchId,
            GETDATE()
        FROM Counties c
        INNER JOIN #CountiesTemp t ON c.CountyName = t.CountyName
        WHERE c.StateCode = @StateCode 
          AND t.Population IS NOT NULL 
          AND t.Population > 0
          AND NOT EXISTS (
              SELECT 1 FROM PopulationData pd 
              WHERE pd.LocationType = 'County' 
                AND pd.LocationId = c.CountyId 
                AND pd.CensusYear = YEAR(GETDATE())
          );
        
        DECLARE @PopulationRecords INT = @@ROWCOUNT;
        
        -- Cleanup
        DROP TABLE #CountiesTemp;
        
        -- Success summary
        DECLARE @Duration INT = DATEDIFF(MILLISECOND, @StartTime, GETDATE());
        PRINT 'Counties processing completed successfully:';
        PRINT '  - Counties processed: ' + CAST(@ProcessedCount AS NVARCHAR(10));
        PRINT '  - Population records added: ' + CAST(@PopulationRecords AS NVARCHAR(10));
        PRINT '  - Processing time: ' + CAST(@Duration AS NVARCHAR(10)) + 'ms';
        
        RETURN @ProcessedCount;
        
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        
        -- Cleanup on error
        IF OBJECT_ID('tempdb..#CountiesTemp') IS NOT NULL
            DROP TABLE #CountiesTemp;
        
        PRINT 'ERROR in uspLocationData_ProcessCountiesFromJSON:';
        PRINT @ErrorMessage;
        
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[uspProduction_CreateScrapingJob]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Create job creation procedure
CREATE   PROCEDURE [dbo].[uspProduction_CreateScrapingJob]
    @StateCode NCHAR(2),
    @JobType NVARCHAR(20) = 'municipalities',
    @ScheduledAt DATETIME2 = NULL,
    @JobId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ScheduledAt IS NULL
        SET @ScheduledAt = GETDATE();
    
    -- Get target URL
    DECLARE @TargetUrl NVARCHAR(500);
    SELECT @TargetUrl = MunicipalitiesUrl 
    FROM StateWikipediaPages 
    WHERE StateCode = @StateCode;
    
    IF @TargetUrl IS NULL
    BEGIN
        PRINT 'Error: No target URL found for state ' + @StateCode;
        RETURN;
    END
    
    -- Create the job
    INSERT INTO ProductionScrapingJobs (StateCode, JobType, TargetUrl, ScheduledAt)
    VALUES (@StateCode, @JobType, @TargetUrl, @ScheduledAt);
    
    SET @JobId = SCOPE_IDENTITY();
    
    -- Update attempt counter
    UPDATE StateWikipediaPages 
    SET TotalScrapingAttempts = TotalScrapingAttempts + 1
    WHERE StateCode = @StateCode;
    
    PRINT 'Created job ' + CAST(@JobId AS VARCHAR) + ' for state ' + @StateCode;
END

PRINT 'Created uspProduction_CreateScrapingJob procedure';

GO
/****** Object:  StoredProcedure [dbo].[uspProduction_GetNextJobs]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Create production procedure to get next jobs for CloudDestroyer
CREATE   PROCEDURE [dbo].[uspProduction_GetNextJobs]
    @MaxJobs INT = 5,
    @JobType NVARCHAR(20) = 'municipalities'
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get highest priority jobs that are due for scraping
    SELECT TOP (@MaxJobs)
        swp.StateCode,
        s.StateName,
        swp.MunicipalitiesUrl as TargetUrl,
        swp.EstimatedMunicipalities,
        swp.Priority,
        swp.ScrapingFrequency,
        swp.NextScheduledScrape,
        swp.LastScrapedAt,
        swp.LastSuccessfulScrape,
        CASE 
            WHEN swp.LastScrapedAt IS NULL THEN 'Never scraped - HIGH PRIORITY'
            WHEN swp.NextScheduledScrape <= GETDATE() THEN 'Due for scraping'
            ELSE 'Scheduled for future'
        END as ScrapingStatus
    FROM StateWikipediaPages swp
    INNER JOIN States s ON swp.StateCode = s.StateCode
    WHERE swp.IsActive = 1
      AND (swp.NextScheduledScrape <= GETDATE() OR swp.LastScrapedAt IS NULL)
      AND NOT EXISTS (
          SELECT 1 FROM ProductionScrapingJobs psj 
          WHERE psj.StateCode = swp.StateCode 
            AND psj.JobStatus IN ('pending', 'running')
      )
    ORDER BY 
        CASE WHEN swp.LastScrapedAt IS NULL THEN 0 ELSE 1 END, -- Never scraped first
        swp.Priority,
        swp.NextScheduledScrape;
END

PRINT ' Created uspProduction_GetNextJobs procedure';

GO
/****** Object:  StoredProcedure [dbo].[uspProduction_UpdateJobStatus]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Create job status update procedure (simplified)
CREATE   PROCEDURE [dbo].[uspProduction_UpdateJobStatus]
    @JobId INT,
    @NewStatus NVARCHAR(20),
    @RecordsExtracted INT = NULL,
    @RecordsImported INT = NULL,
    @ErrorMessage NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StateCode NCHAR(2);
    SELECT @StateCode = StateCode FROM ProductionScrapingJobs WHERE JobId = @JobId;
    
    -- Update job
    UPDATE ProductionScrapingJobs 
    SET JobStatus = @NewStatus,
        CompletedAt = CASE WHEN @NewStatus IN ('completed', 'failed') THEN GETDATE() ELSE NULL END,
        RecordsExtracted = COALESCE(@RecordsExtracted, RecordsExtracted),
        RecordsImported = COALESCE(@RecordsImported, RecordsImported),
        ErrorMessage = COALESCE(@ErrorMessage, ErrorMessage),
        LastUpdatedAt = GETDATE()
    WHERE JobId = @JobId;
    
    -- Update StateWikipediaPages for successful completions
    IF @NewStatus = 'completed'
    BEGIN
        UPDATE StateWikipediaPages 
        SET LastScrapedAt = GETDATE(),
            LastSuccessfulScrape = GETDATE(),
            SuccessfulScrapes = SuccessfulScrapes + 1,
            NextScheduledScrape = 
                CASE ScrapingFrequency
                    WHEN 'daily' THEN DATEADD(DAY, 1, GETDATE())
                    WHEN 'weekly' THEN DATEADD(WEEK, 1, GETDATE())
                    WHEN 'monthly' THEN DATEADD(MONTH, 1, GETDATE())
                    WHEN 'quarterly' THEN DATEADD(MONTH, 3, GETDATE())
                    ELSE NULL
                END
        WHERE StateCode = @StateCode;
    END
    
    PRINT 'Updated job status to: ' + @NewStatus;
END

PRINT 'Created uspProduction_UpdateJobStatus procedure';

GO
/****** Object:  StoredProcedure [dbo].[uspStateConfig_UpdateScrapingSchedule]    Script Date: 11/23/2025 5:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[uspStateConfig_UpdateScrapingSchedule]
    @StateCode NCHAR(2),
    @LastScrapedAt DATETIME2 = NULL,
    @ScheduleNext BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ScrapingFrequency VARCHAR(20);
    DECLARE @NextScrape DATETIME2;
    
    IF @LastScrapedAt IS NULL
        SET @LastScrapedAt = GETDATE();
    
    -- Get current frequency setting
    SELECT @ScrapingFrequency = ScrapingFrequency 
    FROM StateWikipediaPages 
    WHERE StateCode = @StateCode;
    
    -- Calculate next scrape date
    IF @ScheduleNext = 1
    BEGIN
        SET @NextScrape = CASE @ScrapingFrequency
            WHEN 'daily' THEN DATEADD(DAY, 1, @LastScrapedAt)
            WHEN 'weekly' THEN DATEADD(WEEK, 1, @LastScrapedAt)
            WHEN 'monthly' THEN DATEADD(MONTH, 1, @LastScrapedAt)
            WHEN 'quarterly' THEN DATEADD(MONTH, 3, @LastScrapedAt)
            ELSE NULL -- manually scheduled
        END;
    END
    
    -- Update the schedule
    UPDATE StateWikipediaPages 
    SET LastScrapedAt = @LastScrapedAt,
        NextScheduledScrape = @NextScrape,
        LastUpdatedAt = GETDATE()
    WHERE StateCode = @StateCode;
    
    PRINT 'Updated scraping schedule for ' + @StateCode + 
          CASE WHEN @NextScrape IS NOT NULL 
               THEN ' - Next scrape: ' + FORMAT(@NextScrape, 'yyyy-MM-dd HH:mm')
               ELSE ' - Manual scheduling only'
          END;
END;
GO
